body {
  margin: 0;
  color: white;
  background-color: rgb(84, 124, 211);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.header{
  font-size: xxx-large;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

input{
  margin: 5px;
}

button{
  margin: 5px;
}

.login{
  text-align: center;
  background-color: rgb(125, 181, 237);
  display: block;
  text-align: center;
  margin: auto;
  width: 250px;
  border-width: 2px;
  border-style: inset;
}

.login label{
  width: 75%;
}
.login input{
  width: 75%;
}

radio{
  font-size: smaller;
  display: inline;
  /* position: relative; */
  /* padding-left: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
}

radio input{
  float: right;
  position: relative;
}
radio label {
  float: right;
  width: 30%;
}

.signup{
  background-color: rgb(125, 181, 237);
  display: block;
  text-align: center;
  margin: auto;
  width: 250px;
  position: relative;
  /* display: inline-block; */
  border-width: 2px;
  border-style: inset;
}

#errors{
  color: red;
  font-size:medium;
  margin: 5px;
  text-align: left;
}

.trainer-home{
  margin: 10px;
}

.client-list{
  border-width: 10px;
}

.client-card{
  padding: 10px;
  margin: 10px;
  width: 40%;
  color: black;
  background-color: rgb(241, 241, 244);
  float: right;
}

.add-client-form{
  margin: 10px;
  color: black;
  background-color: white;
  display: inline-block;
  width: 40%;
}

.add-client-form input{
  width: 90%;
}

.add-client-form select{
  width: 90%;
}

.edit-form select {
  width: 90%

}

#logout-button{
  float: left;
}

.client-workouts{
  background-color: rgb(157, 187, 242);
  padding: 10px;
}

.workout-options{
  width: 90%;
  padding: 10px;
}

.workout{
  width: 40%;
}

.exercise-name{
  background-color: rgb(8, 8, 152);
  padding: 5px;
  color: white;
}

#create-exercise-form{
  background-color: white;
  display: inline-block;
  width: 100%;
}

.assign-workout{
  float: right;
  width: 50%;
}

#exercise-name{
  width: 85%;
}

#exercise-instructions{
  width: 90%
}

.client-list{
  margin: 10px;
  background-color: white;
  color: black;
  width: 50%;
  /* display: inline-block; */
}

.client-name{
  margin: 10px;
}

.client-name:hover{
  color: peru
}

.navbar{
  background-color: blue;
  font-size: large;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
}

a{
 text-decoration: none;
}

a​:hover { color: green; }

.navlink{
  color: white;
  display: inline-block;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 32%;
}

#confirm-workout{
  background-color: white;
}

.workout-title{
  color: red;
  border-width: 2px;
  border-radius: 15px;
}

#workout-title-input{
  width: 300px;
}

#workout-pending{
  color: red;
}

#workout-completed{
  color: green;
}

#completed{
  color: blue;
}
.workout-card{
  border-width: 2px;
  font-weight: bold;
}

.workout-title{
  font-size: large;
  font-weight: bold;
}

#next-workout{
  color: black;
  background-color: white;
  padding: 10px;
  border-width: 2px;
  border-style: groove;
}

.radio input{
  display: block;
}

.radio label{
  display: inline-block;
  /* width: 50% */
}

#about-page{
  padding: 10px;
  font-size: x-large;
}

.exercise{
  line-height: normal;
  font-size: large;
  padding: 10px;
  margin-top: 0;
  border-color: blue;
  border-style: double;
  border-width: 2px;
}

#exercise-collection{
  float: top;
  width: 40%;
}

#new-workout-form{
  background-color: bisque;
}
/* #create-workout{
  width: 40%;
} */